$c-blue: #3089db;
$c-red: #e10d63;
$c-yellow: #f78b0b;
$c-grey: #b3b3b3;
$c-grey-75: rgba(179, 179, 179, 0.75);
$c-grey-25: rgba(179, 179, 179, 0.25);
$c-light: #f0f0f0;
$c-dark: #535353;

$border-radius: 4px;
