@font-face {
  font-family: 'IntroDemo';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/intro-demo-black-caps.otf') format('opentype');
}

* {
  font-family: 'IntroDemo';

  box-sizing: border-box;
}

body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;

  background: linear-gradient(135deg, $c-blue 0%, $c-red 50%, $c-yellow 100%);
  background-repeat: no-repeat;
}

button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: $border-radius;

  font-size: 20px;
  line-height: 1.1;

  cursor: pointer;
  outline: none;
  transition: all 0.25s;

  background-color: $c-yellow;
  color: $c-light;

  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

button:hover,
button:focus {
  border-color: transparent;
  box-shadow: 0 0 0.6rem $c-yellow;
}

button.primary {
  background-color: $c-red;
}

button.primary:hover,
button.primary:focus {
  box-shadow: 0 0 0.6rem $c-red;
}

button.secondary {
  background-color: transparent;
  color: $c-grey-75;
}

button.secondary:hover,
button.secondary:focus {
  color: $c-grey;
  box-shadow: none;
}

button.disabled {
  background-color: $c-grey;
  pointer-events: none;
  cursor: default;

  opacity: 0;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.color-red {
  color: $c-red;
}

.color-blue {
  color: $c-blue;
}
